<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 ">
        
            {{> admin/_adminHeader}}

            <!-- Form -->
            <form class="mb-4" method="POST" action="/admin/edit_user={{account._id}}" data-alert="true" data-alert-text="You are about to UPDATE the account information for {{account.name}}..." data-alert-icon="warning">
                <div class="row">
                    
                    <div class="col-12 col-md-6">
                        
                        <!-- First name -->
                        <div class="form-group">
                            <label for="name">
                                Edit <strong>{{account.name}}'s</strong> Name
                            </label>
                            <input type="text" name="name" id="name" class="form-control" value="{{account.name}}">
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <!-- Email address -->
                        <div class="form-group">
                            <label class="" for="email"> 
                                Edit <strong>{{account.name}}'s</strong> Email address
                            </label>
                            <input type="email" id="email" name="email" class="form-control" value="{{account.email}}">
                        </div>

                    </div>

                    <div class="col-12 col-md-6">
                        <!-- Email address -->
                        <div class="form-group">
                            <label for="username">
                                Edit <strong>{{account.name}}'s</strong> Username
                            </label>
                            <input type="username" id="username" name="username" class="form-control" value="{{account.username}}">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        
                        <!-- Location -->
                        <div class="form-group">
                            <label>
                                Edit <strong>{{account.name}}'s</strong> Location
                            </label>
                            <select name="location" id="location" class="form-control form-control-lg">
                                {{country_check account.location}}
                                {{#each countries.countries}}
                                    <option value="{{emoji}} {{name}}">{{emoji}} {{name}}</option>
                                {{/each}}
                            </select>
                        </div>

                    </div>
                    <div class="col-12 col-md-6">

                        <!-- Birthday -->
                        <div class="form-group">
                            <label>
                                Edit <strong>{{account.name}}'s</strong> Birthday
                            </label>
                            <input type="text" name="birthday" class="form-control" id="formControlFlatpickr" value="{{birthday_format account.birthday}}">

                        </div>

                    </div>

                    <div class="col-12 col-md-6">
                        
                        <div class="form-group">
                            <label>
                                Edit <strong>{{account.name}}'s</strong> Website
                            </label>
                            <input type="text" name="website" id="website" class="form-control" value="{{account.website}}">
                        </div>

                    </div>

                    <div class="col-12">
                        <br />
                        <hr>
                        <br />
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="profile">
                                Edit <strong>{{account.name}}'s</strong> About Me
                            </label>
                            <textarea class="form-control" name="profile" id="profile">{{account.profile}}</textarea>
                        </div>
                    </div>

                    <div class="col-12">
                        <br />
                        <hr>
                        <br />
                    </div>

                    <div class="col-12 col-md-6">

                        <div class="form-group">
                            <label for="role">
                                Edit <strong>{{account.name}}'s</strong> Role
                            </label>
                            <select name="role" id="role" class="form-control form-control-lg">
                                {{role_check account.role}}
                                <option value="admin">admin</option>
                                <option value="member">member</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-12">
                        <br />
                        <hr>
                        <br />
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <!-- Label -->
                            <label class="mb-1">
                                Public Profile
                            </label>

                            <!-- Form text -->
                            <small class="form-text text-muted">
                                Making {{account.name}}'s profile public means that anyone on the Dashkit network will be able to find you.
                            </small>

                            <div class="row">
                                <div class="col-auto">
                                    <!-- Toggle -->
                                    {{privacy_control account.public}}
                                </div>

                                <div class="col ml--2">
                                    <!-- Help text -->
                                    <small class="text-muted">
                                        {{privacy_text account.public}}
                                    </small>
                                </div>

                            </div> <!-- / .row -->
                        </div>
                    </div>

                </div> <!-- / .row -->


                <br />
                <hr class="mt-4 mb-5">
                <br />

                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalLoading">Update {{account.name}}'s Account</button>
            </form>

    </div> <!-- / .row -->
</div>