<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 ">
        
            {{> admin/_adminHeader manageInvites=true}}

            <div class="table-responsive bg-white" data-toggle="lists" data-lists-values='["tables-row", "tables-first", "tables-last", "tables-handle"]'>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                ID
                            </th>
                            <th scope="col">
                                <a href="#" class="text-muted sort" data-sort="tables-key">
                                    Invite Key
                                </a>
                            </th>
                            <th scope="col">
                                <a href="#" class="text-muted sort" data-sort="tables-email">
                                    Email
                                </a>
                            </th>
                            <th scope="col">
                                <a href="#" class="text-muted sort" data-sort="tables-joined-at">
                                    Date Created
                                </a>
                            </th>

                            <th scope="col" class="text-muted">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each invites}}
                            <tr class="user-row">
                                <th scope="row" data-toggle="tooltip" data-placement="top" title="{{this._id}}">
                                    {{trimString this._id 0 8}}...
                                </th>
                                <td class="tables-key">
                                    {{this.key}}
                                </td>
                                <td class="tables-email">
                                    {{this.email}}
                                </td>
                                <td class="tables-joined-at" data-toggle="tooltip" data-placement="top" title="{{moment_ago this.date_created}}">
                                    {{moment this.date_created}}
                                </td>
                                <td class="dropdown">
                                    <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fe fe-menu"></i>
                                    </a>
                                    <div id="admin-user-actions" class="dropdown-menu dropdown-menu-right">


                                        {{#if ../invite_requests}}
                                            <form method="POST" action="/admin/accept-invite-request={{this._id}}" class="dropdown-item" data-toggle="tooltip" data-placement="left" title="Accept User Invite Request" data-alert="true" data-alert-text="You are about to accept the invite request for {{this.email}}" data-alert-icon="warning">
                                                <button class="dropdown-item text-success">
                                                    <i class="fe fe-check-circle"></i> Accept Invite Request
                                                </button>
                                            </form>
                                            <form method="POST" action="/admin/reject-invite-request={{this._id}}" class="dropdown-item" data-toggle="tooltip" data-placement="left" title="Reject User Invite Reqest" data-alert="true" data-alert-text="You are about to reject the invite request for {{this.email}}" data-alert-icon="warning">
                                                <button class="dropdown-item text-danger">
                                                    <i class="fe fe-trash"></i> Reject Invite Request
                                                </button>
                                            </form>
                                        {{/if}}

                                        {{#if ../manage_invites}}
                                            <form method="POST" action="/admin/reject-invite-request={{this._id}}" class="dropdown-item" data-toggle="tooltip" data-placement="left" title="Delete User Invite" data-alert="true" data-alert-text="You are about to delete the invite for {{this.email}}" data-alert-icon="warning">
                                                <button class="dropdown-item text-danger">
                                                    <i class="fe fe-trash"></i> Delete Invite
                                                </button>
                                            </form>
                                        {{/if}}

                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

    </div> <!-- / .row -->
</div>