<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 ">
        
            <!-- Header -->
            <div class="header">
                <div class="header-body">

                    <div class="row align-items-end">
                        <div class="col">
                            <h6 class="header-pretitle">Admin</h6>
                            <h1 class="header-title">{{title}}</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs header-tabs">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Manage Users
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a href="/admin/manage-users" class="dropdown-item ">Active Users</a>
                                        <a href="/admin/manage-suspended-users" class="dropdown-item">Suspended Users</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a href="/admin/reported-posts" class="nav-link text-center">
                                        Reported Posts
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="table-responsive bg-white" data-toggle="lists" data-lists-values='["tables-row", "tables-first", "tables-last", "tables-handle"]'>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                ID
                            </th>
                            <th scope="col">
                                <a href="#" class="text-muted sort" data-sort="tables-role">
                                    Role
                                </a>
                            </th>
                            <th scope="col">
                                <a href="#" class="text-muted sort" data-sort="tables-name">
                                    Name
                                </a>
                            </th>
                            <th scope="col">
                                <a href="#" class="text-muted sort" data-sort="tables-username">
                                    Username
                                </a>
                            </th>
                            <th scope="col">
                                <a href="#" class="text-muted sort" data-sort="tables-email">
                                    Email
                                </a>
                            </th>
                            <th scope="col">
                                <a href="#" class="text-muted sort" data-sort="tables-joined-at">
                                    Joined On
                                </a>
                            </th>
                            <th scope="col">
                                <a href="#" class="text-muted sort" data-sort="tables-public">
                                    Public
                                </a>
                            </th>
                            <th scope="col" class="text-muted">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                            <tr class="user-row">
                                <th scope="row" data-toggle="tooltip" data-placement="top" title="{{this._id}}">
                                    {{trimString this._id 0 8}}...
                                </th>
                                <td class="tables-role">
                                    {{role_badge role}}
                                </td>
                                <td class="tables-name">
                                    {{this.name}}
                                </td>
                                <td class="tables-username">
                                    <span class="text-muted">@</span>{{this.username}}
                                </td>
                                <td class="tables-email">
                                    {{this.email}}
                                </td>
                                <td class="tables-joined-at" data-toggle="tooltip" data-placement="top" title="{{moment_ago this.joined_at}}">
                                    {{moment this.joined_at}}
                                </td>
                                <td class="tables-public">
                                    {{this.public}}
                                </td>
                                <td class="dropdown">
                                    <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fe fe-menu"></i>
                                    </a>
                                    <div id="admin-user-actions" class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item text-info" href="/users/@{{this.username}}" style="text-align: center; margin-left: -6px;">
                                            <i class="fe fe-layout"></i> View Profile
                                        </a>
                                        <form method="GET" action="/admin/edit_user={{this._id}}" class="dropdown-item" data-toggle="tooltip" data-placement="left" title="Change user account informaton." data-alert="true" data-alert-text="You are about to EDIT the user account for {{this.name}}." data-alert-icon="warning">
                                            <button class="dropdown-item text-secondary">
                                                <i class="fe fe-edit"></i> Edit User
                                            </button>
                                        </form>

                                        {{suspend_user this.suspended this._id this.name}}

                                        <form method="POST" action="/admin/delete_user={{this._id}}" class="dropdown-item" data-toggle="tooltip" data-placement="left" title="Delete's user account." data-alert="true" data-alert-text="You are about to DELETE the user account for {{this.name}}." data-alert-icon="warning">
                                            <button class="dropdown-item text-dark">
                                                <i class="fe fe-trash"></i> Delete User
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

    </div> <!-- / .row -->
</div>