<div class="card">
    <div class="card-body">

        <div class="row align-items-center">
            <div class="col">
                <h5 class="mb-0">Birthday</h5>
            </div>

            <div class="col-auto">
                <time class="small text-muted" datetime="{{profile.birthday}}">
                {{moment profile.birthday}}
                </time>
            </div>
        </div>


        <hr>

        <div class="row align-items-center">
            <div class="col"> 
                <h5 class="mb-0">Joined</h5>
            </div>

            <div class="col-auto">
                <time class="small text-muted" datetime="{{joined_at}}">
                {{moment_ago joined_at}}
                </time>
            </div>
        </div>


        <hr>

        <div class="row align-items-center">
            <div class="col">
                <h5 class="mb-0">Location</h5>
            </div>

            <div class="col-auto">
                <small class="text-muted">{{profile.location}}</small>
            </div>
        </div>


        <hr>

        <div class="row align-items-center">
            <div class="col">
                <h5 class="mb-0">Website</h5>
            </div>

            <div class="col-auto">
                <a href="{{website}}" class="small" target="_blank">
                {{trimString website 0 30}}
                </a>
            </div>
        </div>

    </div>
</div>