<div    class="progress-bar" 
        role="progressbar" 
        style=" width: {{progress}}%; 
                background: linear-gradient(to right, rgba(62,173,{{prevColor}},1) 0%, rgba(62,173,{{color}},1) 100%);
                border-right:1px solid rgba(255,255,255,0.5); 
                display:border-box;" 
        aria-valuenow="{{progress}}" 
        aria-valuemin="{{progress}}" 
        aria-valuemax="{{progress}}"
        data-html="true" 
        data-toggle="tooltip" 
        data-placement="top" 
        title="<strong style='font-weight:bold; font-size:1.25rem; margin-bottom:25px;'>{{activity}}</strong> <br> <hr style='height:1px; background-color:rgba(0,0,0,0.1);'> <br> <p>{{moment prevDate}} <br> - <em>to</em> - <br> {{moment currentDate}}</p>">

        <a href='#deadsea__update--{{id}}'>{{progress}}%</a>
        
</div>
                 