<div class="deadsea__update row space-between" id="deadsea__update--{{id}}">
<div class="col-12 col-xl-8">
    <div class="card">
        <div class="card-body">

            <!-- Header -->
            <div class="mb-3">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <!-- Avatar -->
                        <a href="#!" class="avatar">
                            <img src="{{author.avatar}}" alt="{{author.name}}" class="avatar-img rounded-circle">
                        </a>

                        </div>
                        <div class="col ml--2">

                        <!-- Title -->
                        <h4 class="card-title mb-1">
                            {{author.name}}
                        </h4>

                        <!-- Time -->
                        <p class="card-text small text-muted">
                            <span class="fe fe-clock"></span> <time datetime="2018-05-24">{{moment_ago date}}</time>
                        </p>
                    </div>
                    
                    <div class="col-auto">
                        <!-- Dropdown -->
                        <div class="dropdown">
                            <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#!" class="dropdown-item">Action</a>
                                <a href="#!" class="dropdown-item">Another action</a>
                                <a href="#!" class="dropdown-item">Something else here</a>
                            </div>
                        </div>
                    </div>

                </div> <!-- / .row -->
            </div>

            <p>{{activity}}</p>

            <!-- Text -->
            <p class="mb-3">{{breaklines content}}</p>

            {{#if update_image}}
                <p class="text-center mb-3">
                    <img src="{{update_image}}" alt="..." class="img-fluid">
                </p>
            {{/if}}

            <!-- Buttons -->
            <div class="mb-3">

                <div class="row">
                    <div class="col">
                        <a href="#!" class="btn btn-sm btn-white">😬 1</a>
                        <a href="#!" class="btn btn-sm btn-white">👍 2</a>
                        <a href="#!" class="btn btn-sm btn-white">Add Reaction</a>
                        <a href="/deadsea-to-everest/{{id}}" class="btn btn-sm btn-white">See This Update</a>
                    </div>  
                </div> <!-- / .row -->
                
            </div>

            <!-- Divider -->
            <hr>

            <!-- Comments -->
            {{#if comments}}
                {{#each comments}}
                {{> feed/_deadseaUpdateComment author=this.author date_posted=this.date_posted content=this.content comment_id=this._id replies=this.replies}}
                {{/each}}
            {{/if}}

            <!-- Divider -->
            <hr>

            <!-- Form -->
            <div class="row align-items-start">
            <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar">
                    <img src="{{user.avatar}}" alt="{{user.name}}" class="avatar-img rounded-circle">
                </div>

            </div>
            <div class="col ml--2">

                <!-- Input -->
                <form id="comment_form_{{update_id}}" class="comment_form" method="POST" action="/postcommenttoupdate={{update_id}}">
                    <label class="sr-only">Leave a comment...</label>
                    <textarea class="form-control" name="comment" id="comment" placeholder="Leave a comment..." rows="2"></textarea>
                    <button class="btn btn-primary btn-sm" type="submit" data-toggle="modal" data-target="#modalLoading">Post Comment</button>
                </form>

            </div>
            </div> <!-- / .row -->

        </div>
        </div>
      </div>
    <div class="col-12 col-xl-4" style="padding-right: 0;">

    <div class="card">
        <div class="card-body">

            <div class="row align-items-center">
                <div class="col">
                    <!-- Title -->
                    <h5 class="mb-0">Current Location</h5><br />
                    <a href="https://www.google.com/maps?ll={{lat}},{{lng}}" target="_blank" class="deadsea__update--map-link">
                        <div style="background:url('/images/location.svg' ) center no-repeat, url(https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lng}}&zoom=17&scale=1&size=650x350&maptype=roadmap&format=png&visual_refresh=true&markers=color:red%7Csize:mid); width: 100%; height:300px;">

                        </div>
                    </a>
                </div>
            </div> <!-- / .row -->

            <!-- Divider -->
            <hr>

            <div class="row align-items-center">
                <div class="col">
                    <!-- Title -->
                    <h5 class="mb-0">Distance Travelled</h5>
                </div>
                <div class="col-auto">
                    <small class="text-muted">{{distance}}</small>
                </div>
            </div> <!-- / .row -->

            <!-- Divider -->
            <hr>

            <div class="row align-items-center">
                <div class="col">
                    <!-- Title -->
                    <h5 class="mb-0">Travel Duration</h5>
                </div>
                <div class="col-auto">
                    <small class="text-muted">{{duration}}</small>
                </div>
            </div> <!-- / .row -->

            <!-- Divider -->
            <hr>

            <div class="row align-items-center">
                <div class="col">
                    <!-- Title -->
                    <h5 class="mb-0">State of Mind</h5>
                </div>
                <div class="col-auto">
                    <small class="text-muted">{{state}}</small>
                </div>
            </div> <!-- / .row -->

        </div>
    </div>

</div>
</div>
