<div class="card">
    <div class="card-body">

        <div class="dropdown card-dropdown">
            <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-more-vertical"></i>
            </a>

            {{#if isAdmin}}
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#!" class="dropdown-item">Action</a>
                    <a href="#!" class="dropdown-item">Another action</a>
                    <a href="#!" class="dropdown-item">Something else here</a>
                </div>
            {{/if}}
        </div>
        
        <div class="text-center">
            <a href="{{url}}" target="_blank" class="card-avatar avatar avatar-lg mx-auto">
                <img src="{{image}}" alt="" class="avatar-img rounded">
            </a>
        </div>

        <h2 class="card-title text-center mb-3">
            <a href="{{url}}">{{title}}</a>
        </h2>

        <p class="card-text text-center text-muted mb-4">{{description}}</p>

        <p class="card-text text-center text-muted mb-4">
            Promo Code: {{code}}
        </p>
        
        <div class="row space-around">
            <a href="{{url}}" target="_blank" class="btn btn-primary btn-sm">Get This Deal Now</a>
        </div>
        
    </div>
</div>