<div class="col-md-6 col-xl-4">
  <div class="card col-12 user-card">

    <div class="sponsor__card--logo-wrapper row space-around align-center">
      <a href="/sponsors/{{slug}}">
        <img src="{{logo}}" alt="{{brand_name}} is a proud sponsor of {{h.siteInfo.name}}!">
      </a>   
    </div>

    <div class="card-body text-center" style="padding-top: 10px">

      <p class="card-text text-muted" style="margin:auto; padding: 15px 25px;padding-top: 0;">
        <small>{{{trimString brand_profile 0 150}}}</small>
      </p><br />

      <a href="/sponsors/{{slug}}" class="btn btn-primary">Learn More</a>

    </div>

  </div>
</div>
