<div class="header">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center">

                <div class="col-auto">
                    <div class="avatar avatar-lg avatar-4by3">
                        <img src="{{course.image}}" alt="{{course.title}}" class="avatar-img rounded">
                    </div>
                </div>

                <div class="col ml--3 ml-md--2">   
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/courses">Courses</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Course:</li>
                        </ol>
                    </nav>
                    <h1 class="header-title">{{course.title}}</h1>
                    
                </div>

                <div class="col-auto">
                    {{#if isAdmin}}
                        <a href="/courses/{{course.slug}}/edit" class="btn btn-sm btn-secondary d-none d-md-inline-block"><i class="fe fe-edit"></i> Edit Course</a>
                        <a href="/courses/{{course.slug}}/new" class="btn btn-sm btn-secondary d-none d-md-inline-block"><i class="fe fe-plus"></i> &nbsp; Create New Module for This Course</a>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="row">
        <div class="col-12 col-xl-4">
            
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">Course Descripton</h4>
                </div>
                <div class="card-body">
                    <p class="card-text text-muted" style="font-size: 0.9em">
                        {{breaklines course.description}}
                    </p>
                </div>
            </div>

        </div>
        <div class="col-12 col-xl-8">
            {{#if modules}}
                {{#each modules}}
                    {{> course/_moduleCard 
                        title=this.title 
                        step=this.step
                        description=this.description 
                        course_slug=../course.slug 
                        module_slug=this.slug
                    }}
                {{/each}}
            {{else}}
                <p>There are now modules yet for this course. Check back soon!</p>
            {{/if}}

        </div>
</div>
