<!DOCTYPE html>
<html>

    <head>
        <title>{{title}} | {{h.siteInfo.name}}</title>
        <link rel="icon" type="image/png" href="/images/favicon.png" />

        <meta name="description" content="{{h.siteInfo.description}}"/>
        <meta name="keywords" content="{{h.siteInfo.keywords}}"/>
        <meta name="author" content="{{h.siteInfo.author}}" />
        <meta name="copyright" content="{{h.siteInfo.copyrightOwner}}" />

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />


        <link rel="stylesheet" href="/fonts/feather/feather.min.css">
        <link rel="stylesheet" href="/libs/highlight/styles/vs2015.min.css">
        <link rel="stylesheet" href="/libs/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="/stylesheets/theme.min.css">

        {{#if mediaelement}}
            <link rel="stylesheet" href="/libs/mediaelement/build/mediaelementplayer.css">
        {{/if}}

        {{#if mapbox}} 
            <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
        {{/if}}

        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        {{> modals/_loading}}

        {{#if user}}
            {{> modals/_subscribe}}
            {{> modals/_lightbox}}
            {{> layout/_topNavbar}}

            <div class="main-content col-10">
                {{> flashes/_flashHandler}}
                {{{body}}}
            </div>
        {{else}}
            {{> modals/_requestInvite}}
            {{> flashes/_flashHandler}}
            {{{body}}}
        {{/if}}

        {{currentPath}}

        <script src="/libs/jquery/dist/jquery.min.js"></script>

        {{#if mediaelement}}
            <script src="/libs/mediaelement/build/mediaelement.js"></script>
            <script src="/libs/mediaelement/build/mediaelement-and-player.js"></script>
        {{/if}}

        <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/libs/chart.js/dist/Chart.min.js"></script>
        <script src="/libs/chart.js/Chart.extension.min.js"></script>
        <script src="/libs/highlight/highlight.pack.min.js"></script>
        <script src="/libs/flatpickr/dist/flatpickr.min.js"></script>
        <script src="/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
        <script src="/libs/list.js/dist/list.min.js"></script>

        <!-- Theme JS -->
        <script src="/javascripts/theme.min.js"></script>

        <script type="module" src="/javascripts/bundledAsyncScripts.js"></script>
        <script type="module" src="/javascripts/bundledAlertScripts.js"></script>
        <script type="module" src="/javascripts/scripts.js"></script>
    </body>

    
</html>

