{{> messages/_messagesHeader
        title=title
        pretitle=pretitle
}}

<!-- CONTENT -->
<div class="">
    <div class="row">

        <!-- Message List -->
        <div class="col-12 row justify-content-between">
            {{#if users}}
                {{#each users}}
                    <div class="col-md-6 col-xl-4">

                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">

                                    <div class="col-auto">
                                        <a href="/users/@{{this.username}}" class="avatar avatar-lg">
                                            <img src="{{this.avatar}}" alt="{{this.name}}" class="avatar-img rounded-circle">
                                        </a>
                                    </div>

                                    <div class="col ml--2">
                                
                                        <h4 class="card-title mb-1">
                                            <a href="/users/@{{this.username}}">{{this.name}}</a>
                                        </h4>

                                        <p class="card-text small text-muted mb-1">
                                        {{this.profile.occupation}}
                                        </p>

                                        <p class="card-text small">
                                            <span class="text-success">●</span> Online
                                        </p>

                                    </div>

                                    <div class="col-auto">
                                
                                        <form method="POST" action='/messages/new_chat={{this._id}}'>
                                            <button type="submit" class="btn btn-sm btn-outline-primary">
                                                <i class="fe fe-message-square"></i> Chat Now
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div> 
                {{/each}}
            {{/if}}
        </div><!-- / Message List -->

    </div> <!-- / .row -->

</div> <!-- / .container-fluid -->


