<script>
    $('#formControlFlatpickr').flatpickr({
        enableTime: false,
        dateFormat: "Y-m-d",
    });
</script>

<div class="container-fluid settings-container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
        
        {{> users/_settingsHeader 
            header-pretitle='Settings' 
            header-title='Update Your Profile Details' 
        }}

        <!-- Form -->
        <form class="mb-4" method="POST" action="/settings/profile">
            <div class="row">
                
                <div class="col-12 col-md-6">
                    
                    <!-- First name -->
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" value="{{user.name}}">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <!-- Email address -->
                    <div class="form-group">
                        <label class="" for="email">Email address</label>
                        <input type="email" id="email" name="email" class="form-control" value="{{user.email}}">
                    </div>

                </div>

                <div class="col-12 col-md-6">
                    <!-- Email address -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="username" id="username" name="username" class="form-control" value="{{user.username}}">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    
                    <!-- Location -->
                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="location" id="location" class="form-control form-control-lg">
                            {{country_check user.profile.location}}
                            {{#each countries.countries}}
                                <option value="{{emoji}} {{name}}">{{emoji}} {{name}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <!-- Birthday -->
                    <div class="form-group">
                        <label>Birthday</label>
                        <input type="text" name="birthday" class="form-control" id="formControlFlatpickr" value="{{birthday_format user.profile.birthday}}">

                    </div>

                </div>

                <div class="col-12">
                    <br />
                    <hr>
                    <br />
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label for="profile">About Me</label>
                        <textarea class="form-control" name="profile" id="profile">{{user.profile.bio}}</textarea>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    
                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select name="gender" id="gender" class="form-control form-control-lg">
                            <option id="country_default" selected="{{user.profile.gender}}" value="{{user.profile.gender}}">{{user.profile.gender}}</option>
                            <option id="country_default-divider" disabled="disabled">-------------------</option>
                            <option value="">(Prefer Not To Disclose)</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                </div>


                <div class="col-12 col-md-6">
                    
                    <div class="form-group">
                        <label for="occupation">Occupation</label>
                        <input type="text" name="occupation" id="occupation" class="form-control" value="{{user.profile.occupation}}">
                    </div>

                </div>

                <div class="col-12 col-md-6">
                    
                    <div class="form-group">
                        <label for="relationship_status">Relationship Status</label>
                        <select name="relationship_status" id="relationship_status" class="form-control form-control-lg">
                            <option id="country_default" selected="{{user.profile.relationship_status}}" value="{{user.profile.relationship_status}}">{{user.profile.relationship_status}}</option>
                            <option id="country_default-divider" disabled="disabled">-------------------</option>
                            <option value="">(Prefer Not To Disclose)</option>
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="In A Relationship">In A Relationship</option>
                            <option value="Long-Term Relationship">Long-Term Relationship</option>
                            <option value="Open Relationship">Open Relationship</option>
                        </select>
                    </div>

                </div>

                <div class="col-12 col-md-6">
                    
                    <div class="form-group">
                        <label for="sexual_orientation">Sexual Orientation</label>
                        <select name="sexual_orientation" id="sexual_orientation" class="form-control form-control-lg">
                            <option id="country_default" selected="{{user.profile.sexual_orientation}}" value="{{user.profile.sexual_orientation}}">{{user.profile.sexual_orientation}}</option>
                            <option id="country_default-divider" disabled="disabled">-------------------</option>
                            <option value="">(Prefer Not To Disclose)</option>
                            <option value="Heterosexual">Heterosexual</option>
                            <option value="Homosexual">Homosexual</option>
                            <option value="Bisexual">Bisexual</option>
                            <option value="Asexual">Asexual</option>
                        </select>
                    </div>

                </div>


                <div class="col-12 col-md-6">
                    
                    <div class="form-group">
                        <label for="religion">Religion</label>
                        <input type="text" name="religion" id="religion" class="form-control" value="{{user.profile.religion}}">
                    </div>

                </div>

                <div class="col-12 col-md-6">
                    
                    <div class="form-group">
                        <label for="politics">Politics</label>
                        <input type="text" name="politics" id="politics" class="form-control" value="{{user.profile.politics}}">
                    </div>

                </div>


                <div class="col-12">
                    <br />
                    <hr>
                    <br />
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="website">Website</label>
                        <input type="text" name="website" id="website" class="form-control" value="{{user.contact.website}}">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="phone" class="form-control" value="{{user.contact.phone}}">
                    </div>
                </div>


                <div class="col-12">
                    <br />
                    <hr>
                    <br />
                </div>

                <div class="col-12">

                    <div class="form-group">
                        <!-- Label -->
                        <label class="mb-1">
                            Profile Privacy
                        </label>

                        <!-- Form text -->
                        <small class="form-text text-muted">
                            Making your profile public means that anyone on the Dashkit network will be able to find you.
                        </small>

                        <div class="row">
                            <div class="col-auto">
                                <!-- Toggle -->
                                {{privacy_control user.public}}
                            </div>

                            <div class="col ml--2">
                                <!-- Help text -->
                                <small class="text-muted">
                                    {{privacy_text user.public}}
                                </small>
                            </div>

                        </div> <!-- / .row -->
                    </div>

                </div>

                <div class="col-12">
                    <br />
                    <hr>
                    <br />
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <!-- Label -->
                        <label class="mb-1">
                            Email Privacy
                        </label>

                        <!-- Form text -->
                        <small class="form-text text-muted">
                            Making your email public means that it will be displayed on your profile as a means of connecting with you.
                        </small>

                        <div class="row">
                            <div class="col-auto">
                                <!-- Toggle -->
                                {{email_privacy_control user.contact.email}}
                            </div>

                            <div class="col ml--2">
                                <!-- Help text -->
                                <small class="text-muted">
                                    {{email_privacy_text user.contact.email}}
                                </small>
                            </div>

                        </div> <!-- / .row -->
                    </div>
                </div>
            </div> <!-- / .row -->



            <br />
            <hr class="mt-4 mb-5">
            <br />

            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modalLoading">
                Update Profile &amp; Account Settings
            </button>
        </form>

        </div>
    </div> <!-- / .row -->
</div>