<div class="sponsor__header header" style="background:url({{cover}}) no-repeat; background-size:cover; background-position:center; border-radius:3px;">
</div>

<!-- CONTENT -->
<div class="sponsor__content row space-around">
    <div class="col-12 col-xl-10">

        <div class="card">
            <div class="card-body">

                <div class="sponsor__titles-wrapper row space-around align-center">
                    <div class="column space-around align-center">
                        <img src="{{logo}}" height="250" width="250" alt="{{brand_name}} is a proud sponsor of {{h.siteInfo.name}}"><br />
                        <!-- Pretitle -->
                        <h5 class="header-pretitle">{{pretitle}}</h5>
                        <!-- Title -->
                        <h1 class="header-title">{{title}}</h1>
                    </div>
                </div>

                <!-- Content -->
                <div class="sponsor__content-wrapper row space-around">
                    <p>{{breaklines about}}</p>
                </div>

                <br />

                <div class="sponsor__content-wrapper">
                    {{#if deals}}
                        <h2 class="text-center">Exclusive Deals for our Members</h2>

                        <hr>

                        <div class="row space-around">
                            {{#each deals}}
                                {{> sponsors/_dealCard 
                                        title=this.title 
                                        image=this.image 
                                        code=this.code 
                                        url=this.url 
                                        description=this.description
                                }}
                            {{/each}}
                        </div>
                    {{/if}}

                    {{#if isAdmin}}
                        <div class="row space-around">
                            <a href="/sponsors/{{slug}}/new-deal" class="btn btn-secondary d-block d-md-inline-block">Add Deal for Members</a>
                        </div>
                    {{/if}}
                </div>

            </div>
        </div>

    </div>
</div> <!-- / .row -->
