<div class="modal fade show" id="sidebarModalActivity" tabindex="-1" role="dialog" style="">

    <div class="modal-dialog modal-dialog-vertical" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <!-- Title -->
                <h4 class="modal-title">Notifications</h4>
                <!-- Close -->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fe fe-x"></i></span>
                </button>
            </div>

            <div class="modal-body">

            <!-- List group -->
                <div class="list-group list-group-flush my--3">

                    {{#if notifications}}
                        {{#each notifications}}
                            <a class="list-group-item px-0" href="/users/@{{medium_owner.username}}#{{medium}}_{{medium_ref}}">

                                <div class="row">
                                    <div class="col-auto">
                            
                                    <!-- Avatar -->
                                        <div class="avatar avatar-sm">
                                            <img src="{{actor.avatar}}" alt="Avatar for {{actor.name}}" class="avatar-img rounded-circle">
                                        </div>

                                    </div>

                                    <div class="col ml--2">
                                        <!-- Content -->
                                        <div class="small text-muted">
                                            <strong class="text-body">{{actor.name}}</strong>
                                            has {{action}} your {{medium}}.
                                        </div>
                                    </div>

                                    <div class="col-auto">
                                        <small class="text-muted">{{moment_ago date_posted}}</small>
                                    </div>

                                </div> <!-- / .row -->
                            </a>
                        {{/each}}

                        <br />

                        <div class="col-12">
                            <form method="POST" action="/clear_notifications">
                                <button class="btn btn-sm btn-white">Clear Notifications</button>
                            </form>
                        </div>


                    {{else}}

                        <p class="text-muted">You have no notifications to show right now.</p>

                    {{/if}}

                </div>

            </div>
        </div>

    </div>
</div>