<div class="card chat__list--item">
    <div class="card-body">
        <div class="row align-items-center col-auto">

            <div class="col-auto">
                <a href="/messages/{{message._id}}" class="avatar avatar-sm">
                    <img src="{{user.avatar}}" alt="{{user.name}}'s Avatar'" class="avatar-img rounded-circle">
                </a>
            </div>

            <div class="col ml--2">
                <h4 class="card-title mb-1">
                    <a href="#!">{{user.name}}</a>
                </h4>

                <p class="card-text small">
                    <span class="text-success">●</span> Online
                </p>
            </div>

            <div class="col-auto">
                <div class="dropdown">
                    <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" data-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form method="POST" action="/messages/close_chat={{message._id}}" class="dropdown-item" data-alert="true" data-alert-text="You are about to CLOSE this chat. It will be inactive until reopened again." data-alert-icon="warning">
                            <button class="dropdown-item text-dark">
                                <i class="fe fe-x"></i> Close Chat
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>