<div class="card">
    <div class="card-body">
 
        <div class="text-center">
            <a href="/users/@{{author.username}}" class="card-avatar avatar avatar-lg mx-auto">
                <img src="{{author.avatar}}" alt="Avatar for {{author.name}}" class="avatar-img rounded">
            </a>
        </div>

        <h2 class="card-title text-center mb-3">
            <a href="/users/@{{author.username}}">{{author.name}}</a>
        </h2>

        <p class="card-text text-center text-muted mb-4">
        Group Founder
        </p>

        <hr>

        <div class="row align-items-center">
            <div class="col">
                
                <p class="card-text small text-muted">
                <i class="fe fe-star"></i> Group Founder
                </p>

            </div>
            <div class="col-auto">
                

            </div>
        </div>

    </div>
</div>