<div class="card discussionOP">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-auto">
                
                <a href="/users/@{{discussion._author.username}}" class="avatar avatar-lg">
                    <img src="{{discussion._author.avatar}}" alt="{{discussion._author.name}}'s avatar'" class="avatar-img rounded">
                </a>

            </div>
            <div class="col ml--2">

                <h2 class="card-title mb-1 name">
                    {{discussion.topic}}
                </h2>
                <p class="card-text small text-muted">
                    Posted by <a href="/users/@{{discussion._author.username}}">{{discussion._author.name}}</a> <i class="fe fe-clock"></i> {{moment_ago discussion.date_created}} 
                </p>

                <hr />

                <p class="card-text small text-muted mb-1">
                {{breaklines discussion.content}}
                </p>

            </div>

            <div class="col-auto">
                {{#if isAdmin}}
                    <div class="dropdown">
                        <a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#!" class="dropdown-item">
                            Action
                            </a>
                            <a href="#!" class="dropdown-item">
                            Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                            Something else here
                            </a>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>