<div class="col-md-6 col-xl-4">
  <div class="card col-12 user-card">


    <a class="user-card__image-link" href="/users/@{{username}}" style="background:url({{profile_cover}}) no-repeat; background-size:cover; background-position:center center;"></a>

    <div class="card-body text-center">

      <a href="/users/@{{username}}" class="avatar avatar-xl card-avatar card-avatar-top">
        <img src="{{avatar}}" class="avatar-img rounded-circle border border-white" alt="...">
      </a>

      <h2 class="card-title">
        <a href="/users/@{{username}}">
          {{name}} <br >
          <small class="card-text text-muted">
            @{{username}}
          </small>
        </a>
      </h2>
      <h4>{{role_badge role}}</h4>

    </div>

  </div>
</div>
